.add-flower-form {
    width: 350px;
    .vnd-currency {
        font-size: 20px;
    }
    .validate-error {
        font-size: 15px;
        color: red;
        font-style: italic;
        margin-left: 10px;
    }
    .btn-custom {
        float: right;
    }
}
@media (max-width: 400px) {
    .add-flower-form {
        width: 230px;
    }
}


