<div class="row top-bar">
    <div class="container">
        <div class="col-sm-6 col-xl-6 col-xs-6 title">
            <a routerLink="/" class="btn-title">Flower Shop</a>
        </div>

        <div class="col-sm-6 col-xl-6 col-xs-6 ">
            <input id="btn-login" type="button" (click)="openDialog()" class="btn btn-default btn-login" value="Log in">
            <input id="btn-logout" type="hidden" (click)="logout()" class="btn btn-default btn-logout" value="Log out">
            <button routerLink="cart" class="btn btn-default fa fa-shopping-cart btn-cart"> Cart</button>
        </div>
    </div>
</div>
